 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
          <a class="nav-link " href="{{ path('home') }}"> Accueil 
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Contact </a>
        </li>
       
        <li class="nav-item">
          <a class="nav-link" href='{{path('article')}}'> Articles </a>
        </li>

         <li class="nav-item">
          <a class="nav-link" href='{{path('admin')}}'> Tableau de bord </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Connexion </a>
        </li>
                    </ul>
                </div>
            </div>
        </nav>
   <!-- Responsive navbar-->
       
<style> 
body {
  background-color:white;
}
.nav-link {
  font-size:2em;
  margin:0.8em;
}
</style>